
.face {
    position: relative;
    background: #576481;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .face::before {
    content: '';
    position: absolute;
    top: 200px;
    width: 150px;
    height: 20px;
    background: #14b8a6;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    transition: 0.5s;
  }
  
  .face:hover::before {
    top: 200px;
    width: 80px;
    height: 70px;
    background: #14b8a6;
    border-radius: 100%;
  }
  
  .eyes {
    position: relative;
    top: -20px;
    display: flex;
  }
  
  .eyes .eye {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    background: white;
    margin: 0 30px;
    border-radius: 50%;
  }
  
  .eyes .eye::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  
#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    /* background-color: white; */
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
  }
  
  #cursor-border {
    --size: 50px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    /* box-shadow: 0 0 0 1px white; */
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
      height 0.15s ease-out, background-color 0.15s ease-out;
    z-index: 999;
  }
  
  d_flex {
    display: flex;
    justify-content: space-between;
  }
  .f_flex {
    display: flex;
  }
  a {
    text-decoration: none;
    color: black;
  }
  li {
    list-style: none;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .capitalize {
    text-transform: capitalize;
  }
  .btn_shadow {
    padding: 18px 25px;
    border-radius: 6px;
    transition: 0.3s all ease;
    cursor: pointer;
    color: #000;
    transition: 0.5s;
  }
  .btn_shadow {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    @apply shadow-2xl shadow-slate-400 dark:shadow-slate-800 ;

  }
  .btn_shadow:hover {
    background: #ff014f;
    @apply bg-teal-500;
    color: white;
    transform: translateY(-10px);
  }
  .box_shodow {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    /* box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff; */
    @apply shadow-2xl shadow-slate-400 dark:shadow-slate-800 ;

    border-radius: 10px;
  }
  .row,
  .left,
  .right {
    width: 50%;
  }
  .top {
    margin-top: 80px;
  }
  .mtop {
    margin-top: 40px;
  }
  .heading {
    margin: 50px 0 50px 0;
  }
  .heading h4 {
    color: #ff014f;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .heading h1 {
    font-size: 60px;
    color: #3c3e41;
  }  